RewriteEngine On

# ถ้ามีไฟล์หรือไดเรกทอรีอยู่จริง ให้ใช้งานได้ตามปกติ
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ส่งทุก Request ไปที่ index.php
RewriteRule ^(.*)$ index.php [QSA,L]